.hero {
    width: 100%;
    height: 30vh;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-header {
    font-size: 48px;
    font-weight: 600;
    color: #E83362;
    text-align: center;
    line-height: -1.2;
    
}

.hero-p {
    font-size: 24px;
    margin-top: 1em;
}

.hero-cards {
    margin: 1em auto 3em;
    width: 100%;
}

