# This variable is required if you are using the Ethereum wallet integration.
ETH_ADDRESS=

# These variables are required if you are using the Coinbase wallet integration.
COINBASE_WALLET_ID=
COINBASE_API_KEY=
COINBASE_API_SECRET=

# This variable is required if you are using the Unitree integration
UNITREE_WIRED_ETHERNET=
