
# OPTIONAL VARIABLES e.g. is you are using custom API endpoints
OPENAI_API_KEY="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"

# This variable is required if you are using the Ethereum wallet integration.
ETH_ADDRESS=

# These variables are required if you are using the Coinbase wallet integration.
COINBASE_WALLET_ID=
COINBASE_API_KEY=
COINBASE_API_SECRET=

# This variable is required if you are using the Unitree integration
UNITREE_WIRED_ETHERNET=